@import "../../styles";

.play-btn {
  display: flex;
  justify-content: center;

  width: 5rem;
  height: 5rem;

  background-color: white;
  transform: scale(1.1);

  &.scissors {
    @include btn($scissors-gradient);
    transform: translateX(10rem) translateY(-2rem);
    &:hover {
      cursor: pointer;
      transform: translateX(10rem) translateY(-2rem) $scale;
    }
  }

  &.spock {
    @include btn($spock-gradient);
    transform: translateX(-16rem) translateY(3rem);
  }

  &.paper {
    @include btn($paper-gradient);
    transform: translateX(11rem) translateY(3rem);
  }

  &.lizard {
    @include btn($lizard-gradient);
    transform: translateX(-9rem) translateY(11rem);
  }

  &.rock {
    @include btn($rock-gradient);
    transform: translateX(4rem) translateY(11rem);
  }

  //ProcessSection position
  &.player {
    transform: translateX(0) translateY(0) scale(1.4);
  }

  &.house {
    transform: translateX(0) translateY(0) scale(1.4);
  }

  // &.empty {
  //   @include btn-empty($rock-gradient);
  // }

  img {
    align-self: center;
    width: 1.8rem;

    color: white;
    background-color: white;
  }
}
