@import "../../styles";

.process-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .play-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .empty-btn {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: none;
      background-color: rgb(24, 32, 60);
    }
  }

  .box-desc {
    position: absolute;
    top: 7rem;

    color: white;

    text-transform: uppercase;

    margin-top: 1rem;
  }
}

@include tablet {
  .process-section {
    .play-item-box {
      .empty-btn {
        width: 7rem;
        height: 7rem;
      }
    }
    .box-desc {
      top: 9rem;
      font-size: $font-size-btn;
    }
  }
}
