@import "../../styles";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 3px $header-outline solid;
  border-radius: 4px;

  .logo {
    margin: 1.2rem;
    width: 3.6rem;
    height: 4rem;
  }
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 6rem;
    margin: 0.5rem;
    padding: 0.5rem;

    background-color: white;
    border-radius: 4px;

    color: $dark-text;
    font-weight: $bold;

    span {
      color: $score-text;
    }

    .count {
      font-size: $font-size-score;
    }
  }
}
